<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Buy & Sell Tools</title>
</head>

<body>
    <main>
        <section class='container'>
            <img src="../image/Ecommerce campaign-cuate.png" alt="Ilustração de uma pessoa vendendo">
            <div class='banner'>
                <h2 class='banner__title'>Buy & Sell Tools</h2>
                <p class="banner__text">Buy & sell good quality products for your beautiful plants</p>
            </div>
            <ul class='pagination'>
                <li class='pagination__item'>
                    <a class='pagination__link' href="../index.html"></a>
                </li>
                <li class='pagination__item'>
                    <a class='pagination__link' href="./safe-delivery.html"></a>
                </li>
                <li class='pagination__item pagination__item--active'>
                    <a class='pagination__link' href="./buy-&-sell-tools.html"></a>
                </li>
            </ul>
            <div class='buttons'>
                <button id="tools" class="buttons__content  buttons__content--main">Get started</button>
            </div>
        </section>
    </main>
    <script src="../scripts/navigation.js"></script>
</body>

</html>