@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import '../abstract/_variables.scss';

body {
    font-family: $main-font;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 0;
        margin: 0 5.3%;
        
        img {
            width: 100%;
            max-width: 300px;
        }
    }
}

@media screen and (min-width:425px) {
    body {
        .container {
            padding-right: calc((100% - 425px)/2);
            padding-left: calc((100% - 425px)/2);
            margin: 0 35px;
        }

    }
}